<!--<h1>Listing topics</h1>
<table>
<tr>
<th>Forum</th>
<th>User</th>
<th>Name</th>
<th>Posts count</th>
</tr>
<% for topic in @topics %>
<tr>
<td><%=h topic.forum_id %></td>
<td><%=h topic.user_id %></td>
<td><%=h topic.name %></td>
<td><%=h topic.posts_count %></td>
<td><%#= link_to 'Show', topic %></td>
<td><%#= link_to 'Edit', edit_topic_path(topic) %></td>
<td><%#= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<%= link_to 'New topic', new_forum_topic_path %>--><h2>Forum : <%=@forum.name %></h2>
<p>
    <%if is_logged_in? %>
    <%= link_to 'Post New Topic', new_forum_topic_path(:forum_id => @forum) -%>
    <% else -%>
    <%= link_to 'Login to post a new topic','/account/login' -%>
    <% end -%>
</p>
<% if @topics.total_pages > 1 %>
<p class="pagination">
    Pages: <strong><%= will_paginate @topics %>
    </strong>
</p>
<% end %>
<table id="topics">
    <tr>
        <th class="name">
            Topics
        </th>
        <th class="reply">
            Posts
        </th>
        <th class="author">
            Author
        </th>
    </tr>
    <% @topics.each do |topic| -%>
    <tr class="<%= cycle('odd', 'even') %>">
        <td class="name">
            <%= link_to topic.name, forum_topic_posts_path(:forum_id => @forum,:topic_id => topic) -%>
            <% if is_logged_in? and logged_in_user.has_role?('moderator') -%>
            <br/>
            <small>
                <%= link_to 'delete', forum_topic_path(:forum_id => @forum,:id => topic),
                :method => :delete,:confirm => 'Are you sure? This will delete this entire topic.' -%>
                <%= link_to 'edit', edit_forum_topic_path(:forum_id => @forum, :id => topic) -%>
            </small>
            <% end -%>
        </td>
        <td class="reply">
            <%= topic.posts_count %>
        </td>
        <td class="author">
            <%= link_to topic.user.username,
            user_path(:id => topic.user) %>
        </td>
    </tr>
    <% end -%>
</table>
<% if @topics.total_pages > 1 %>
<p class="pagination">
    Pages: <strong><%= will_paginate @topics %>
    </strong>
</p>
<% end %>
